---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
allPosts.reverse();
---

<BaseLayout>
  <div class="blog-container">
    {
      allPosts.map((post) => (
        <BlogCard
          blogTitle={post.frontmatter.title}
          blogText={post.frontmatter.description}
          src={post.frontmatter.cardImage}
          url={post.url}
          blogDate={post.frontmatter.blogDate}
        />
      ))
    }

    <BlogCard
      blogTitle="Down and out in Tbilisi"
      src="src/blog-pics/10-12 pic-1.jpg"
    />
    <BlogCard blogTitle="See you soon" src="src/blog-pics/4-12 pic-1.jpg" />
    <BlogCard
      blogTitle="Lots and lots of rain ☔"
      src="src/blog-pics/31-11 pic-1.jpg"
    />
  </div>
</BaseLayout>

<style>
  .blog-container {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto auto auto;
    justify-items: center;
    row-gap: 64px;
    column-gap: 72px;
    margin: 100px auto;
  }
</style>
